body{
    padding-bottom:0px;
	color: black;
	font-family: "courier New", "Times New Romans", "Calibri";
	background: linear-gradient(to left, #9D9E9E 83.3%, #747474 16.7% ); /* Standard syntax */
	 /*background: linear-gradient(to left, #F2F2F2 90%, #CEE8F5 10% ); /* Standard syntax */
}

@media (max-width: 992px) {
 body{
	background: linear-gradient(to left, #9D9E9E 70%, #747474 30% ); /* Standard syntax */
}
}

.active{
 background-color: grey;
}

/* applying styling to bars when toggled */
#btnToggle{
	background-color: black;
}

#bar{
	background-color:white;
}


/* Styling the logo */
#logoimg{
	width: 250px;
	height: 50px;
	margin-top: -15px;
	margin-right: -50px; 
	background-color: #368AFE;
}


#title{
	text-transform: uppercase;
	letter-spacing: 4px;
	color: white;
	font: bold 20px Courier New;
	direction: rtl;
	line-height: 0.5;
	margin-left: 20px;
	margin-right: 60px;
	background: radial-gradient(ellipse, black 80% , white 20%); 
}


#title:hover{
	background: radial-gradient(ellipse, black 80% , white 20%);
	color:#EEEEEE;
	-webkit-filter: hue-rotate(90deg); /* Chrome, Safari, Opera */
    filter: hue-rotate(90deg);
}

#lo{
	font-size: 30px;
	color: white;
}



/* Styling Top Navbar */

#topNav{
  background: linear-gradient(to right, #368AFE 15%, lightgray 20%, #368AFE, #DBDEDA); /* Standard syntax */
}

/* Styling Bottom Navbar */
#botNav{
  background: linear-gradient(to right, #368AFE 15%, lightgray 20%, #368AFE, #DBDEDA); /* Standard syntax */
}


/* Styling Items in the navbar */
#itemNav{
	font-family:'Tahoma';
	letter-spacing: 3px;
	font-weight: bolder;
	font-size: 14px;	
}


#itemNav li a{
	color: white;
}

#itemNav li a:hover{
	color: #BB8E07;
	background-color: grey;
}



/* Styling footer arrows left and right */

#arrowL{
	 float: left;
	 padding-top: 5px; 
	 padding-bottom: -15px; 
	 padding-left: 5px;  
	 font-size: 50px;
	 font-style: bold; 
	 color: black;
}

#arrowL:hover{
	 color: #EDEDED;
}

#arrowR{
	 float: right;
	 padding-top: 5px; 
	 padding-bottom: -15px; 
	 padding-right: 5px;   
	 font-size: 50px;
	 font-style: bold; 
	 color: black;
}

#arrowR:hover{
	 color: #EDEDED;
}

#done{
	font-weight: bolder;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	background-color: #020D20;
	color: blue;
	color: white;
	font-size: 18px;
}

#done:hover{
	color: #BB8E07;
}


/*Styling the links in the welcome page */
#display{
	text-decoration: none;
}

#display:hover{
	color: green;
}

/*Styling the main container in the main page*/
#mainContainer{
 padding-left: 0px;
 padding-right: 0px;
 margin-top: 0px;
}

/*Styling the nsidebar in the main mmenu */

#sideBar{
	background: #747474;
	margin-top: -20px;
    height: 605px;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bolder;
    font-family:"Tahoma";
    overflow: auto;
    letter-spacing: 1px;
}

#sideBar ul li a{
	color: #FFFFFF;
}
#sideBar ul li a:focus{
	color: #BB8E07;
	background-color: grey
}

#sideBar ul li a:hover{
	color: #BB8E07;
	background-color: grey;
}


/*Styling the main in the content-tab page  */

#main{
	padding-right: 10px;
	padding-left: 10px;
	margin-top: -20px;
	background: #9D9E9E;
}

/*Styling the various tab-pane starts here */
#deposit{
	background: #9D9E9E;
	padding-top: 5px;
}


#withDraw{
	background: #9D9E9E;
	padding-top: 5px;
}

#checkBalance{
	background: #9D9E9E;
	padding-top: 5px;
}

#createAccount{
	background: #9D9E9E;
	padding-top: 5px;
}


#connect{
	background-color: #020D20;
	text-align: center;
	font-family: 'Tahoma';
}

#connect h3{
	color: #FFFFFF;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 40px;
}


#createAccount,#viewAccount,#suspendAccount,#Incoming,#Outgoing,#History,#CTRSswitch,#VSwitch{
	background: #9D9E9E;
	padding-top: 5px;
}


#doneSuspend{
	font: bold 18px "courier New";
}

#doneSuspend:hover{
	color: green;
}

/*Styling the  panels */

#depositPanel,#withdrawPanel,#suspendAccountPanel{
	margin-top: 50px;
	margin-left: -20px; 
	margin-right: -20px;
	font-size: 20px;
	box-shadow: 0px 10px 10px 0px grey;
}

#PanelBody{
	font-family: 'Tahoma';
}

#PanelBalanceBody,#createAccountPanelBody,#viewAccountPanelBody,#IncomingPanelBody,#OutgoingPanelBody,#HistoryPanelBody,#CTRSwitchPanelBody,#VSwitchPanelBody{
	height: 450px;
	overflow: auto;
	font-family: 'Tahoma';
	font-size: 15px;
}


/*Styling check balance panel*/
#checkBalancePanel,#createAccountPanel,#viewAccountPanel,#IncomingPanel,#OutgoingPanel,#HistoryPanel,#CTRSwitchPanel,#VSwitchPanel{
	font-size: 20px;
    margin-left: -20px;
    margin-right: -20px; 
    margin-top: 30px;
    box-shadow: 0px 10px 10px 0px grey;
}

/*Styling amount display */
#moniC{
   margin-left: 50px; 
}


#moniF{
   margin-left: 60px; 
}

/*Styling the icons on the sidebar menus */

#iCon{
	width:24px;
	height: 24px;
}


/*Styling the icons on the header*/
#iConH{
	width:20px;
	height: 18px;
}

#Menu{
    font-size: 20px !important;
    padding-top: 6px !important;
    padding-bottom: 12px !important;
    color: #020D20;
    text-decoration: none;
}

#Menu:hover{
 color: #747474;
}


/*=========================================================
  Styling the appearance at very small screen
==========================================================*/

@media (max-width: 767px){
body{
	margin-bottom: 50px;
	background: linear-gradient(to left, #9D9E9E 83.3%, #9D9E9E 16.7% );
}


#sideBar{
    z-index: 1;
  	width: 0px;
    height:100%;
    opacity:1.0;
    position: fixed;
    top: 40px;
    left: 0;
    overflow: auto;
    padding-top: 0px;
    margin-top: 5px;
    -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#deposit,#withDraw,#checkBalance,#createAccount{
	padding-top: 0px;
}

#createAccount,#viewAccount,#suspendAccount{
	padding-top: 0px;
}

/*Styling the  panels */

#depositPanel,#withdrawPanel,#suspendAccountPanel{
	margin-top: 15px;
}


#PanelBalanceBody,#createAccountPanelBody,#viewAccountPanelBody{
	height: 450px;
	overflow: auto;
	font-family: 'Tahoma';
	font-size: 15px;
}


/*Styling check balance panel*/
#checkBalancePanel,#createAccountPanel,#viewAccountPanel,#IncomingPanel,#OutgoingPanel,#HistoryPanel{
	font-size: 20px;
    margin-left: -20px;
    margin-right: -20px; 
    margin-top: 15px;
    box-shadow: 0px 10px 10px 0px grey;
}

/*Styling amount display */
#moniC{
   margin-left: 50px; 
}


#moniF{
   margin-left: 60px; 
}

/*Styling the icons on the sidebar menus */

#iCon{
	width:24px;
	height: 24px;
}


/*Styling the icons on the header*/
#iConH{
	width:20px;
	height: 18px;
}

#connect h3{
    letter-spacing: 2px;
    font-size: 30px;
}



}




















