
body{
	padding-bottom:0px;
	color: black;
	font-family: 'Tahoma';
	/* background: linear-gradient(to left, lavender 83.3%, #C4C4C4 16.7% );  Standard syntax */
	 /*background: linear-gradient(to left, #F2F2F2 90%, #CEE8F5 10% ); /* Standard syntax */
  background: linear-gradient(to left, #9D9E9E 83.3%, #747474 16.7% );
}

@media (max-width: 992px) {
 body{
	background: linear-gradient(to left, #9D9E9E 75%, #747474 25% ); /* Standard syntax */
}
}

/*======Styling the title Prompt ====*/

.active{
	background-color: grey;
}

#title{
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  font: bold 20px Courier New;
  direction: rtl;
  line-height: 0.5;
  margin-left: 20px;
  margin-right: 60px;
  background: radial-gradient(ellipse, black 80% , white 20%); 
}


#title:hover{
  background: radial-gradient(ellipse, black 80% , white 20%);
  color:#EEEEEE;
  -webkit-filter: hue-rotate(90deg); /* Chrome, Safari, Opera */
    filter: hue-rotate(90deg);
}

#lo{
  font-size: 30px;
  color: white;
}

/* Styling Items in the navbar */
#itemNav{
  font-family: 'Tahoma';	
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 2px;
}


#itemNav li a{
	color: white;
}

#itemNav li a:hover{
	color: #BB8E07;
  background-color: black;
}


/*Styling the main container in the main page*/
#myScrollspy{
 padding-left: 0px;
 padding-right: 0px;
 margin-top: -20px;
}

/*======Styling the SideMenu ======*/

#SideMenu{
	  background: #747474;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
    font-family: 'Tahoma';
    font-weight: bolder;
    font-size: 14px;
    padding: 0px;
    letter-spacing: 2px;
}

#SideMenu ul li a{
	color: white;
}
#SideMenu ul li a:focus{
	color: #BB8E07;
  background-color: grey
}

/* Note this place well if u want to remove the lightblue active background color */
.nav-pills > li.active > a{
 background-color: grey;
}
#SideMenu ul li a:hover{
	color: #BB8E07;
  background-color: grey;
}

/* At media screen */
@media (max-width: 768px) {
 #SideMenu{
    font: bold 12px Calibri;  
}
#SideMenu ul li a{
	padding-left: 5px;
  padding-right: 5px;
}

}


/*Styling the icons on the header*/
#iConH{
	width:20px;
	height: 18px;
}

@media (max-width: 768px){
 #iConH{
	width:12px;
	height: 12px;
}

}


/*=========================================================
The Styling below applies to transactional page tabs only
==========================================================*/

#deposits, #withdrawals{
	
}

#withDrawalPane, #DepositsPane{
 margin-top: 50px;
 box-shadow: 5px 0px 5px 0px;
}

#withDrawalPane_Head, #DepositsPane_Head{
  background-color: #333333;
  height: 60px;
}

#withDrawalPane_Body, #DepositsPane_Body{
  height: 350px;
  overflow: auto;
}

#withDrawalPane_Footer, #DepositsPane_Footer{
 background-color: #C4C4C4;
 height: 40px;
}


#withDrawalDisplay{
  background-color: lightgrey;
  font-size: 20px;

}

#withDrawalDisplay p{
  font-size: 20px;
}



/*=========================================================
The Styling below applies to control room pane page tabs only
==========================================================*/

#AccountPane, #AddManagerPane, #ChangeLockPane, #AddBranchPane, #RemoveBranchPane, #CRTControlPane, #AddTellerPane,#ViewManagerPane,#ViewTellerPane{
 background-color: lavender;	
}

#AccountPanel, #AddManagerPanel, #CRTControlPanel, #AddTellerPanel,#VeiwManagerPanel,#ViewTellerPanel{
 margin-top: 20px;
 box-shadow: 5px 5px 5px 5px grey;
}

#ChangeLockPanel, #AddBranchPanel, #RemoveBranchPanel{
 margin-top: 60px;
 box-shadow: 5px 5px 5px 5px grey;
}

#AccountPanel_Header, #AddManagerPanel_Header, #ChangeLockPanel_Header, #AddBranchPanel_Header, #RemoveBranchPanel_Header, #CRTControlPanel_Header,#AddTellerPanel_Header,#ViewManagerPanel_Header,#ViewTellerPanel_Header{
  background-color: #333333;
  height: 60px;
}

#AccountPanel_Body, #AddManagerPanel_Body,#AddTellerPanel_Body,#ViewManagerPanel_Body,#ViewTellerPanel_Body{
 height:430px;
 overflow: auto;
 font-size: 16px;
}

#ChangeLockPanel_Body, #AddBranchPanel_Body, #RemoveBranchPanel_Body{
 overflow: auto;
 font-size: 20px;
}


#AccountPanel_Footer, #AddManagerPanel_Footer, #ChangeLockPanel_Footer, #AddBranchPanel_Footer, #RemoveBranchPanel_Footer, #CRTControlPanel_Footer,#AddTellerPanel_Footer,#ViewManagerPanel_Footer,#ViewTellerPanel_Footer{
  background-color:#C4C4C4;
  text-align:right;
}


/* Styling the btns Done starts here */
#AccountDone, #ChangeLockDone, #CRTControlDone,#addTellerBtn,#RemoveBranchDone,#viewManagerRemoveBtn,#viewTellerBtnRemove,#AddBranchDone{
 font-size: 18px;
 font-weight:bolder;
 background-color: black;
 color: white;
}

#viewTellerBtnSuspend,#viewManagerSuspendBtn,#addManagerBtn{
  font-size: 18px;
 font-weight:bolder;
 background-color: black;
 color: white;
}

#viewTellerBtnSuspend:hover,#viewManagerSuspendBtn:hover,#addManagerBtn:hover{
  color: #BB8E07;
}

#AccountDone:hover,#ChangeLockDone:hover, #CRTControlDone:hover,#addTellerBtn:hover, #RemoveBranchDone:hover,#viewManagerRemoveBtn:hover,#viewTellerBtnRemove:hover,#AddBranchDone:hover{
  color: #BB8E07;
}

#ConfirmP{
  text-align:right;
  font-weight: bold;
}

#ConfirmP input{
  font-weight: bolder;
}

#alertConfirm{
  font-size: 20px;
  background-color: lightgrey;
}



/*=========================================================
  Styling the Login pages for Control Room Starts here 
==========================================================*/
#accountLogin, #changeLock, #viewTeller, #addBranch, #removeBranch, #addManager, #viewManager,#addTeller, #crtControl{
	background-color: lavender;
}

#AccountLoginPage, #ChangeLockLoginPage, #ViewTellerLoginPage, #AddBranchLoginPage, #RemoveBranchLoginPage, #AddManagerLoginPage, #ViewManagerLoginPage,#AddTellerLoginPage, #CRTControlLoginPage{
	margin-top: 100px;
}

#AccountLoginPanel, #ChangeLockLoginPanel, #ViewTellerLoginPanel, #AddBranchLoginPanel, #RemoveBranchLoginPanel, #AddManagerLoginPanel, #ViewManagerLoginPanel,#AddTellerLoginPanel, #CRTControlLoginPanel{
 box-shadow: 5px 5px 5px 5px;	
}

#AccountLoginPanel_Header, #ChangeLockLoginPanel_Header, #ViewTellerLoginPanel_Header, #AddBranchLoginPanel_Header, #RemoveBranchLoginPanel_Header, #AddManagerLoginPanel_Header,#ViewManagerLoginPanel_Header,#AddTellerLoginPanel_Header, #CRTControlLoginPanel_Header{
 background-color: #333333;
 height: 60px;
 color: ghostwhite;
 padding-top: 10px;
 font-family: 'Narkisim';
 font-size: 25px;
 font-weight: bold;
 letter-spacing: 3px;
}

#AccountLoginPanel_Header, #ChangeLockLoginPanel_Header, #ViewTellerLoginPanel_Header, #AddBranchLoginPanel_Header,#RemoveBranchLoginPane_Header, #AddManagerLoginPanel_Header,#ViewManagerLoginPanel_Header,#AddTellerLoginPanel_Header, #CRTControlLoginPanel_Header h2{
  padding-top:-20px;
  padding-bottom: 20px;
}

#ManId,#CRTManageLock{
  font-size: 20px;
  font-weight: bold;
}

#AccountLoginPanel_Footer, #ChangeLockLoginPanel_Footer, #ViewTellerLoginPanel_Footer, #AddBranchLoginPanel_Footer,#RemoveBranchLoginPanel_Footer, #AddManagerLoginPanel_Footer,#ViewManagerLoginPanel_Footer,#AddTellerLoginPanel_Footer, #CRTControlLoginPanel_Footer{
  background-color:#C4C4C4;
  text-align: center;
  font-family: 'Narkisim';

}

#AccountLoginPanel_Footer, #ChangeLockLoginPanel_Footer,#ViewTellerLoginPanel_Footer, #AddBranchLoginPanel_Footer,#RemoveBranchLoginPanel_Footer, #AddManagerLoginPanel_Footer,#ViewManagerLoginPanel_Footer,#AddTellerLoginPanel_Footer, #CRTControlLoginPanel_Footer a{
  text-decoration: none;
  font-size: 20px; 
  font-weight: bolder;
}

/*=========================================================
  Styling the first page for control room
==========================================================*/
#firstPage{
   background-color:lavender;
}


#FirstPagePanel{
  margin-top: 50px;
  box-shadow: 0px 0px 2px 5px grey;
}

#FirstPagePanel_Header{
 background-color:#333333;
 height: auto;
 text-align-last: center;
 color: ghostwhite;
 padding-top: 10px;
 font-size: 25px;
 font-weight: bolder;
 font-family: 'Tahoma';
 letter-spacing: 3px;
}

#FirstPagePanel_Header strong{
  text-transform: uppercase;
	color: white;
	direction: rtl;
	text-shadow: 2px 3px #368AFE;
	line-height: 0.5; 
}

#FirstPagePanel_Body{
 height: 300px;
 font-family: 'Tahoma';
}


#FirstPagePanel_Footer{
 height: 50px;
 background-color: grey;
}

#Middle p{
	font-size: 40px;
	font-weight: bolder;
}

#Middle span{
	padding-top: 70px;
	font-size: 60px;
}

#Middle label{
padding-bottom:70px;
}


/*=========================================================
  Styling the appearance at very small screen
==========================================================*/

@media (max-width: 767px){
body{
	padding-bottom:30px;
	color: black;
  background: linear-gradient(to left, #9D9E9E 83.3%, #9D9E9E 16.7% );
}


#SideMenu{
    z-index: 1;
  	width: 0px;
    height:100%;
    opacity:1.0;
    position: fixed;
    top: 40px;
    left: 0;
    overflow: auto;
    padding-top: 0px;
    margin-top: 5px;
    -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#SideMenu ul li a{
	color: white;
}

#myScrollspy{
    width:100%;
	position:absolute;
}

#firstPage{
   position: absolute;
   float:left;
   width: 100%;
}

#Menu{
    font-size: 20px !important;
    padding-top: 6px !important;
    padding-bottom: 12px !important;
    color: green;
    text-decoration: none;
}


#CloseX{
	font-size: 25px;
    color: white;
    font-weight: bolder;
    padding-left: 110px;
    position: relative;
    background-color: dimgrey;
}

#CloseX:hover{
  border-radius: 0px;
}

/*=========================================================
  Styling the first page for control room at media screen
==========================================================*/
#firstPage{
   background-color:lavender;
   width: 100%;
}

/*=========================================================
  Styling the login pages for control room at media screen
==========================================================*/

#FirstPagePanel, #ViewTellerLoginPage, #AccountLoginPage, #ChangeLockLoginPage, #AddBranchLoginPage,#RemoveBranchLoginPage, #AddManagerLoginPage,#ViewManagerLoginPage,#AddTellerLoginPage,#CRTControlLoginPage{
  margin-top: 25px;
  width: 100%;
}


/*==========================================================================
 Styling below applies to control room pane page tabs only @ media screen
============================================================================*/
#AccountPane, #AddManagerPane, #ChangeLockPane, #AddBranchPane, #RemoveBranchPane, #CRTControlPane, #AddTellerPane,#ViewManagerPane{
 width: 100%	
}

#AccountPanel, #ChangeLockPanel, #AddManagerPanel, #AddBranchPanel, #CRTControlPanel,#AddTellerPanel,#RemoveBranchPanel,#ViewManagerPanel{
 margin-top: 10px;
 box-shadow: 5px 5px 0px 5px;
}

#AccountPanel_Header, #ChangeLockPanel_Header, #AddManagerPanel_Header, #AddBranchPanel_Header,#CRTControlPanel_Header,#AddTellerPanel_Header,#RemoveBranchPanel_Header,#ViewManagerPanel_Header{
  height: auto;
}

/*=============================================================
The Styling below applies to transactional page at media querie
===============================================================*/

#withdrawals, #deposits{
 width: 100%;
}

#withDrawalPane, #DepositsPane{
 margin-top: 25px;
}


}

